.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


.outer img {
    max-width: 200px;
    height: auto;
    padding: 10px;
    position: relative;
}


@media (max-width:500px) {
    .outer img {
        max-width: 90%;
    }

    .inner {
        position: absolute;
    }

}