.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.thread, .post-thread {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: white;
    color: black;
}



@media (max-width:500px) {
    .thread {
        min-width: 90%;
    }
}
