
/* css för sida 1*/
body { /* det här kan flyttas till en common css fil senare */
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: black;
}

header {

}
  
button {
  background-color: black;
  border-color: white;
  color: white;
}

main {

}

.HeaderLinks {
}

.HeaderLinks a {
}

main {
  text-align: center;
  color: white;
  padding: 20px;
}

footer {
  padding: 20px;
  text-align: center;
  color: white;
}
