
/* css för sida 1*/
body { /* det här kan flyttas till en common css fil senare */
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: black;
}

header {

}
  
main {
  
}

.HeaderLinks {
}

.HeaderLinks a {
}

.MainContent {
}

footer {
}
