.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


.image img {
    max-width: 200px;
    height: auto;
    padding: 10px;
}

@media (max-width:500px) {
    .image img {
        max-width: 90%;
    }
}